CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
aconf.h
fofi/libfofi.a
goo/libgoo.a
xpdf/pdfdetach
xpdf/pdffonts
xpdf/pdfimages
xpdf/pdfinfo
xpdf/pdftops
xpdf/pdftotext
